
.winter-w-section{
    width: 100%;
    padding-top: 6.875rem;
    height: auto;
}
.winter-w-banner{
    width: 100%;
    height: auto;
    padding-bottom:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.winter-w-banner img{
width: 100%;
}
.winter-w-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 20px 0 20px;
}
.fil-sec{
    width: 25%;
    height: 200vh;
    color: black;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.fil-sec::-webkit-scrollbar {
    display: none;
}
.product-sec{
    width: 75%;
    /* background-color: antiquewhite; */
    height: 200vh;
    overflow: scroll;
}
.product-sec::-webkit-scrollbar {
    display: none;
}
.col-filter{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.open-filter-btn{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px dashed black;
    padding: 10px 0 10px 0;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .winter-w-section{
        width: 100%;
        padding-top: 5.56rem;
        height: auto;
    }
    .winter-w-container{
        padding: 0 10px 0 10px;
    }
    .winter-w-banner{
        padding-bottom: 10px;
    }

}
@media screen and (max-width: 760px) {
    .fil-sec {
      display: none;
    }
    .product-sec h2{
        font-size: 18px;
    }
    .winter-w-section{
        width: 100%;
        padding-top: 5.16rem; 
        height: auto;
    }
    
  }