.checkout-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  background-color: white;
}
.checkout-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
}
.checkout-header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.ch-left {
  width: 70%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: start;
}
.ch-right {
  width: 30%;
  height: 100%;
  background-color: rgb(225, 225, 225);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.se-icon {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.checkout-body {
  width: 100%;
  height: auto;
  padding: 15px;
}
.progress-bar {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: white;
  height: 13vh;
}
.css-m5vj9m-MuiStepper-root {
  padding: 0 20px;
  width: 100%;
  height: 100%;
}
.checkout-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: auto;
}
.ch-content {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 20px 20px;
}
.ch-prising {
  width: 40%;
  padding: 0 0 20px 20px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.ob-conterner {
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}
.obc-child {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.c-code {
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 10px;
  color: rgb(134, 134, 134);
}
.coup-c {
  background-color: lightyellow;
  padding: 5px;
}
.coup-img {
  height: 30px;
  margin-right: 10px;
}
.applycoup-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
}
.applycoup-bar {
  width: 100%;
}
.applycoup-bar input[type="text"] {
  width: 100%;
  padding: 10px;
  outline: none;
  background-color: rgb(235, 235, 235);
  border: none;
  border-radius: 5px 0 0 5px;
}
.applycoup-btn {
  padding: 0 10px;
  background-color: rgb(24, 212, 225);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.pd-conterner {
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 10px 20px 20px 20px;
}
.pdc-child {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.pdch {
  font-size: 18px;
  font-weight: bolder;
  border-bottom: 1px solid rgb(201, 201, 201);
}
.pdc-data {
  justify-content: space-between;
}
.ta-conterner {
  width: 100%;
  height: 150px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 10px 20px 20px 20px;
}
.tac-child {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tac-save {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 154, 0);
  color: white;
  margin-bottom: 10px;
}
.steper-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 179, 179);
  color: white;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
.checkout-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  padding: 40px 0;
}
/* Cart css */

.del-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.del-cart button {
  width: 100%;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  border-right: 1px solid rgb(207, 207, 207);
  color: rgb(140, 140, 140);
}
.cart-product-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-product-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 15px;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.cart-product {
  position: relative;
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card-top-sec {
  width: 100%;
  height: 210px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.cart-top-left {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.cart-top-left a {
  height: 100%;
  width: 100%;
}
.cart-top-right {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.cart-product-img {
  width: 125px;
  height: 170px;
  overflow: hidden;
  display: flex;
}

.cart-product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.add-to-cart-btn {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 178, 178);
  width: 40%;
  border-radius: 5px;
  gap: 10px;
  color: white;
  cursor: pointer;
}
.buy-now-btn{
  padding: 15px;
  display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgb(251, 255, 0);
 width: 60%;
 border-radius: 5px;
 gap: 10px;
 color: rgb(0, 0, 0);
 cursor: pointer;
}
.wle-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wle-body img {
  height: 300px;
}

/* CAddress */
.pa-content {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 20px 20px;
}
.put-address-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.put-address-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.put-address-head{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.add-new-address{
  width: 100%;
  border: 1px solid rgb(0, 216, 216);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.put-address-body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.put-address-body form{
  width: 100%;
}
.form-input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.form-input-group input {
  width: 48%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.form-input-group input:focus {
  outline: none;
  border-color: #0066ff;
  box-shadow: 0 0 5px rgba(0, 102, 255, 0.5);
}
.pay-op{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pay-op img{
  height: 400px;
}

.delivery-address {
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 10px 20px 20px 20px;
}
.deli-to{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.deli-contact{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .cart-top-left {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }
  .cart-top-left a {
    height: 100%;
    width: 100%;
  }
  .cart-top-right {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}
@media screen and (max-width: 760px) {
  .checkout-section {
    padding: 0;
  }
  .checkout-header {
    height: 10vh;
  }
  .ch-left {
    width: 50%;
  }
  .ch-right {
    width: 50%;

  }
  .se-icon {
    height: 30px;
    width: 30px;
    margin-left: 10px;
  }
  .ch-right h2{
    font-size: 15px;

  }
  .ch-left h1{
    font-size: 25px;
    margin-left: 10px;
  }
  .checkout-content{
    flex-direction: column;
  }
  .ch-content {
    width: 100%;
  }
  .ch-prising {
    width: 100%;
    padding: 0 ;
    margin-top: 10px;
  }
  .checkout-footer{
    padding: 20px 0;
  }
  .checkout-footer img{
    height: 30px;
  }
  .pa-content {
    width: 100%;
  }
}