.mend-section{
    background-color: #ffffff;
    position: absolute;
    top: 95%;
    left: 5%;
    width: 90%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.mend-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
   
}
.drop-con{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: start;
    align-items: flex-start;
    gap: 10px;
}

.d-content{
    display: flex;
    flex-direction: column;
    
}
.d-content a:hover{
    color: rgb(255, 238, 0);
}
.d-img{
    height: 300px;
}
.d-img img{
    height: 100%;
    width: 100%;
}