@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Heebo', sans-serif;
}

.disappire{
    display: none;
}
.pages-section{
    width: 100%;
    padding-top: 6.875rem;
    height: auto;
}
.pages-banner{
    width: 100%;
    height: auto;
    padding-bottom:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pages-banner img{
width: 100%;
}
.pages-page-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 45px 0 45px;
    gap: 20px;
}

@media screen and (max-width: 1200px) {
    .pages-page-container{
        padding: 10px 10px 0 10px;
    }
    .pages-section{
        width: 100%;
        padding-top: 5.56rem;
        height: auto;
    }
}
@media screen and (max-width: 760px) {
    .pages-section{
        width: 100%;
        padding-top: 5.56rem;
        height: auto;
    }
  }