/* women section */

.combo-section{
    width: 100%;
    padding-top: 6.875rem;
    height: auto;
}
.combo-banner{
    width: 100%;
    height: auto;
    padding-bottom:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.combo-banner img{
width: 100%;
}
.combo-page-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 0 20px;
    gap: 20px;
}
.fil-sec{
    width: 25%;
    height: 200vh;
    color: black;
    display: flex;
}
.product-sec{
    width: 75%;
    height: 200vh;
    overflow: scroll;
}
.product-sec::-webkit-scrollbar {
    display: none;
}

.fil-sec::-webkit-scrollbar {
    display: none;
}

.col-filter{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.open-filter-btn{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px dashed black;
    padding: 10px 0 10px 0;
    cursor: pointer;
}
.combo-categori-filter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .combo-section{
        width: 100%;
        padding-top: 5.56rem;
        height: auto;
    }
    .combo-page-container{
        padding: 10px 10px 0 10px;
    }
    .combo-banner{
        padding-bottom: 0;
    }
}
@media screen and (max-width: 760px) {
    .fil-sec {
      display: none;
    }
    .combo-section{
        width: 100%;
        padding-top: 5.16rem; 
        height: auto;
    }
  }