.myaccount-section {
  width: 100%;
  padding-top: 6.875rem;
  height: auto;
}
.myaccount-container{
    width: 100%;
    padding: 30px 10px 10px 20px;
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    /* color: white; */
    text-transform: capitalize;
    line-height: 50px;
}
.tab-header {
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid rgb(44, 43, 44);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .tab {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: border-right 0.3s;
   
  }
  
  .tab.active {
    font-weight: bold;
    border-bottom: 1px solid lightgray;
  }
  
  .tab-content {
    padding:0 20px 20px 20px;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .tab-item {
    width: 100%;
  }
  
  .account-head{
    height: 200px;
    width: 100%;
    background-color: lightgray;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.account-bottom{
    width: 100%;
    padding: 15px 15px;
}
  .log-out-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 251, 0);
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
  }

  .profile-picture {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0); 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .profile-letter{
    font-size: 50px;
    font-weight: initial; 
    text-transform: uppercase;
    color: #ffffff;
  }
  .u-name{
    font-size: 25px;
    text-transform: uppercase;
   
  }

  .MyADrop-section{
    background-color: #ffffff;
    position: absolute;
    top: 35%;
    right: 2%;
    width: 15%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.MyADrop-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}
.MyADrop-container a{
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.MyADrop-container a:hover{
    color: rgb(255, 247, 0);
    font-weight: bolder;
}
.a-detail{
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    text-transform: none;
}

/* wishlist */
.del-wishlist{
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  

}
.del-wishlist button{
  background:none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}
.wishlist-product-section {
width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
}

.wishlist-product-container {
display: grid;
grid-template-columns: repeat(4, 1fr);
row-gap: 15px; 
justify-items: center;
align-items: center;
width: 100%;
height: auto;
}

.wishlist-product {
position: relative;
width: 230px;
height: 330px;
display: flex;
flex-direction: column;
border: 1px solid #e0e0e0; 
padding: 10px;
border-radius: 5px; 
}

.wishlist-product-img {
width: 100%;
height: 250px;
overflow: hidden;
display: flex; 
}

.wishlist-product-img img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 5px; 
}

.wishlist-product-details {
width: 100%;
height: 80px;
line-height: 30px;
font-weight: normal;
white-space: nowrap;
text-overflow: ellipsis;
overflow-x:hidden;
}

.wishlist-product-img img:hover {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transform: scale(1.5);
transition: transform 0.5s ease;
}